*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    color: #000;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    background-image: linear-gradient(47deg, rgba(65, 204, 191, 0.85) 19.17%, #FFF 68.44%, #F5F5F5 102.04%);
    background-repeat: no-repeat;
}

#menu{ 
    background-image: linear-gradient(37deg, #72ADAD 21.89%, #FFF 76.69%);
    font-size: 25px;
    height: 100vh;
}

#ul-menu a:hover { 
   border-bottom: 3px solid green;
}

#meio-pagina p{ 
    margin-bottom: 10px;
    font-size: 20px;
}

#meio-pagina h1{ 
    margin-bottom: 10px;
    font-size: 55px;
    flex-wrap: nowrap;
}

#meio-pagina .sub-p{ 
    font-size: 30px;
}